body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows */
}

@media (min-width: 640px) { /* Change the breakpoint as needed */
  .grid-container {
    grid-template-rows: 1fr; /* One row on screens wider than 640px */
    grid-template-columns: 1fr 1fr; /* Two columns on screens wider than 640px */
  }
}

.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 1000px;
}

.content-div:hover{
   background-image: linear-gradient(to right,rgba(112,157,255,0.8),hsla(247,74%,61%,0.8))!important;
}

.active {
  color: #ccd6f6;
}

/* Custom slick dots */
.slick-dots li button:before {
  font-size: 12px;
  color: #c76acb; 
}

.slick-dots li.slick-active button:before {
  color: #fff; /* Active dot */
}

.slick-dots {
  bottom: -55px; /* move dots closer/farther */
}

.slick-slide {
  transition: transform 0.3s ease;
  opacity: 0.6;
  transform: scale(0.9);
}

.slick-center {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}





